/* <div class="container-news">
        <main id="main-news">
            <div class="news-card">
                <div class="img-news-card">
                    <img src="" alt="imagen de noticias">
                </div>
                <div class="body-news-card">
                    <h1>titulo</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime odit autem, inventore minima itaque magni, fuga cumque temporibus aperiam tempora consequuntur in amet iusto fugiat vitae eveniet. Quisquam, officiis aliquid!</p>
                </div>
                <footer class="footer-news-card">
                    <button type="btn-news-card">Leer mas</button>
                </footer>
            </div>
        </main>        
        <aside id="banner_ads">
            <div class="ads">coloque anuncio</div>
            <div class="ads">coloque anuncio</div>
        </aside>
</div> */

.container-news {
    display: flex;
    flex-direction: column;    
    
}

.encabezdo-noticias {
    margin: 20px;
    border-bottom: solid;
}

.container-news #main-news {
    order: 1;
}

.container-news #banner_ads {
    order: 2;
    position: relative;
}

@media screen and (min-width:768px) {
    .container-news {
        display: flex;
        flex-direction: row;
    }

    .container-news #main-news {
        order: 1;
        width: 68%;
    }

    .container-news #banner_ads {
        order: 2;
        width: 28%;
     }

     .container-news #banner_ads .container-ads .ads {
        height: 200px;
        margin-top: 40px;
     }

    .container-news #banner_ads .container-ads {
        position: sticky;
        top: 30px;
        padding: 5px;
    }
}
